<script>
    const email = localStorage.getItem("user");
    const link = window.location.href.split('/')[4];
    if (email) {
        if (email !== link) {
            window.location.href = "https://sanserv.onrender.com/"
        }
    } else {
        window.location.replace("https://sanserv.onrender.com/")
    }
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/cart.css">


</head>

<body>
    {{> header}}
    <main class="main">
        <div class="main_container">


            {{#each sweet}}
            <div class="main_request">
                <div class="request-left">
                    <img src="{{this.image}}">
                </div>
                <div class="request-middle">
                    <span> {{this.title}}</span>
                    <span id="{{this.idCart}}">{{multiplyNumbers this.cost this.amount}} ₽</span>
                    <div>

                        <div class="input-group inline-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary btn-minus"  onclick="decrease('{{this.title}}', '{{this.idCart}}', '{{this.cost}}')">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <input class="form-control quantity" id="{{this.title}}" min="1" name="quantity"
                                style="width:50%"   
                                value="{{this.amount}}"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '');" readonly>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-plus"
                                    onclick="increase('{{this.title}}', '{{this.idCart}}', '{{this.cost}}')">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                     
                    </div>

                </div>
                <div class="request-right">
                    <button onclick="removeProduct('{{this.idCart}}')">Убрать</button>
                </div>
            </div>
            {{/each}}
            {{#if sweet}}
            <div class="request-middle">
                <span id="totalPrice">Итоговая цена: {{totalCost}} рублей</span>
            </div>

            <div class="request-right">
                <button onclick="ordering()">Заказать</button>
            </div>
            {{else}}
            <div class="request-middle" style="margin-top: 40px;">
                <span id="totalPrice">Корзина пуста</span>
            </div>
            {{/if}}


        </div>
    </main>
    {{> footer}}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/cart.js"></script>
</body>

</html>