<script>
    const email = localStorage.getItem("user");
    const link = window.location.href.split('/')[4];
    if (email) {
        if (email !== link) {
            window.location.href = "https://sanserv.onrender.com/"
        }
    } else {
        window.location.replace("https://sanserv.onrender.com/")
    }
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/cart.css">
</head>

<body>
    {{> header}}
    <main class="main">
        <div class="main_container">


            {{#each sweet}}
            <div class="main_request">
                <div class="request-left">
                    <img src="{{this.image}}">
                </div>
                <div class="request-middle">
                    <span> {{this.title}}</span>
                    <span>{{this.cost}} ₽</span>
                    <span>{{this.amount}} кг</span>
                </div>
                <div class="request-right">
                    <button onclick="removeProduct('{{this.idCart}}')">Убрать</button>
                </div>
            </div>
            {{/each}}
            {{#if sweet}}
            <div class="request-middle">
                <span id="totalPrice" class="{{totalCost}}">Итоговая цена: {{totalCost}} рублей</span>
            </div>

            <div class="request-right">
                <button onclick="ordering()">Заказать</button>
            </div>
            {{/if}}


        </div>
    </main>
    {{> footer}}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/header.js"></script>
    <script src="../js/cart.js"></script>
</body>

</html>