<script>
    const prof = localStorage.getItem("user");
    const linkEmail = window.location.href.split('/')[4];
    if (prof) {
        if (prof !== linkEmail) {
            window.location.href = "https://sanserv.onrender.com/"
        }
    } else {
        window.location.href = "https://sanserv.onrender.com/"
    }
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>
    {{> header}}

    <main>
        <div class="container">
            <div class="main__inner">
                {{#each user}}
                <ul>
                    <li>Логин:{{this.Name}}</li>
                    <li>Почта:{{this.Email}}</li>
                </ul>
                {{/each}}
                <button id="listOrders" onclick="document.getElementsByClassName('popup')[0].classList.add('active');">список заказов</button>
                <button id="exit">Выйти</button>
            </div>
        </div>
    </main>

    {{> footer}}

    <div class="popup">
        <div class="container">
            <div class="popup__inner">
                <ul>
                    {{#each orders}}
                    <li>
                        <img src="{{this.image}}" width="150px">
                        <span style="color:#ba8275">{{this.title}}</span>
                        <span style="color:#ba8275">{{this.cost}} рублей</span>
                    </li>
                    {{/each}}
                    <li>
                        <span style="color:#ba8275">Итоговая цена: {{totalCost}} рублей</span>
                    </li>
                </ul>
                <button onclick="document.getElementsByClassName('popup')[0].classList.remove('active');">закрыть</button>
            </div>
        </div>
    </div>

    <script src="../js/profile.js"></script>
    <script src="../js/header.js"></script>
</body>

</html>